.header{

    height:110px;

    padding:0 42px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    border-bottom:1px solid #08384A;

}

/* ===========================
   LEFT SIDE
=========================== */

.header-title{

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.header-title h2{

    margin:0;

    font-size:52px;

    font-weight:800;

    color:white;

    letter-spacing:-1px;

    line-height:1;

}

.header-title p{

    margin-top:10px;

    color:#7EAFC4;

    font-size:19px;

    font-weight:500;

}

/* ===========================
   RIGHT SIDE
=========================== */

.admin-profile{

    display:flex;

    align-items:center;

    gap:18px;

    background:#051F2B;

    border:1px solid #0B556B;

    border-radius:16px;

    padding:14px 22px;

    transition:.25s;

}

.admin-profile:hover{

    border-color:#00F5D4;

    box-shadow:0 0 18px rgba(0,245,212,.15);

}

.admin-avatar{

    width:56px;

    height:56px;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #00F5D4,
        #5CC8FF
    );

    display:flex;

    justify-content:center;

    align-items:center;

    color:#04151F;

}

.admin-info h4{

    margin:0;

    color:white;

    font-size:18px;

    font-weight:700;

}

.admin-info p{

    margin:3px 0;

    color:#8DB2C3;

    font-size:14px;

}

.online{

    color:#38D27A !important;

    font-weight:600;

}