*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#02111B;
  color:white;
  font-family:Inter,sans-serif;
}

#root{
  width:100%;
  min-height:100vh;
}

a{
  text-decoration:none;
  color:inherit;
}

.chart-card {
  background: #051f2b;
  border: 1px solid #0b556b;
  border-radius: 20px;
  padding: 20px;
  min-height: 380px;
}

.chart-card h3 {
  color: white;
  margin-bottom: 20px;
}